<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="log-path">/home/ubuntu/codeX/projects/reaper/log/frontserver</Property>
    </Properties>


    <Appenders>
        <RollingFile name="RollingFile" fileName="${log-path}/log.out"
                     filePattern="${log-path}/log.out.%d{yyyy-MM-dd}">
            <PatternLayout>
                <pattern>[%5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>
