<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="[%5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t : %C.%M() : %L] %m%n"/>
        </Console>

        <Console name="Api_StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} (%t) %m%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="StdOut" level="DEBUG"/>
        </Root>

        <Logger name="API" level="ALL" additivity="false">
            <AppenderRef ref="Api_StdOut"/>
        </Logger>
    </Loggers>

</Configuration>
